<form id="rejectVerification" name="rejectVerification" class="form-group"
      ng-submit="submit()" novalidate>
    <div class="modal-header col-md-offset-1">
        <h3 class="modal-title">{{'PLEASE_DESCRIBE_REJECT_REASON' | translate}}</h3>
    </div>


    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 form-group">
                <ui-select class="form-control" type="text" theme="select2" ng-model="rejectedReason.name"
                           search-enabled="true">
                    <ui-select-match>
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="reason in reasons | filter: $select.search">
                        <span ng-bind-html="reason.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success pull-left" type="submit">
            {{ 'CONFIRM' | translate }}
        </button>

        <button class="btn btn-danger pull-right" type="button" ng-click="cancel()">
            {{ 'CANCEL' | translate }}
        </button>
    </div>

</form>
