<div class="modal-body">

    <form name="subdivisionForm" role="form" class="form-group" novalidate ng-submit="editSubdivision()">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>{{'FILL_IN_INFORMATION_ABOUT_SUBDIVISION' | translate }}</h3></div>
            <div class="panel-body">

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'SUBDIVISION_NUMBER' | translate }}</label>

                    <div class="col-md-8">
                        <input id="subdivisionId" name="subdivisionId" class="form-control"
                               type="text" ng-model="subdivisionFormData.subdivisionId" readonly >
                    </div>
                </div>

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'SUBDIVISION_NAME' |translate }}</label>

                    <div class="col-md-8">
                        <input type="text" ng-model="subdivisionFormData.subdivisionName"
                               id="subdivisionName" ng-pattern="TEAM_NAME_REGEX"
                               name="subdivisionName" class="form-control" required>

                        <p class="help-block" ng-if="subdivisionForm.subdivisionName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="subdivisionForm.subdivisionName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'SUBDIVISION_NAME_ERROR' | translate }}
                        </p>
                    </div>
                </div>

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'SUBDIVISION_LEADER_FULL_NAME' |translate }}</label>

                    <div class="col-md-8">
                        <input type="text" ng-model="subdivisionFormData.subdivisionLeader"
                               id="leaderFullName" ng-pattern="TEAM_LEADER_FULL_NAME_REGEX"
                               name="leaderFullName" class="form-control" required>

                        <p class="help-block" ng-if="subdivisionForm.leaderFullName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="subdivisionForm.leaderFullName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'SUBDIVISION_LEADER_FULL_NAME_ERROR' | translate }}
                        </p>
                    </div>
                </div>

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'PHONE_NUMBER' | translate }}</label>

                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-addon" id="basic-addon-code">+380</div>
                            <input type="text" ng-model="subdivisionFormData.subdivisionLeaderPhone"
                                   ng-pattern="PHONE_REGEX" placeholder="XXXXXXXXX"
                                   id="leaderPhone" name="leaderPhone" class="form-control">
                        </div>
                        <p class="help-block" ng-if="subdivisionForm.leaderPhone.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="subdivisionForm.leaderPhone.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'PHONE_NUMBER_ERROR' | translate }}
                        </p>
                    </div>
                </div>

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'EMAIL' | translate }}</label>

                    <div class="col-md-8">
                        <input type="text" ng-model="subdivisionFormData.subdivisionLeaderEmail"
                               ng-pattern="EMAIL_REGEX"
                               placeholder="example@gmail.com"
                               id="leaderEmail" name="leaderEmail" class="form-control" required>

                        <p class="help-block" ng-if="subdivisionForm.leaderEmail.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="subdivisionForm.leaderEmail.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'EMAIL_ERROR' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-10">
                <button type="submit" class="btn btn-success">
                    {{'SAVE' | translate}}
                </button>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-danger pull-right" ng-click="closeModal()">
                    {{'CLOSE' | translate}}
                </button>
            </div>
        </div>

    </form>
</div>