<div class="modal-header">
    <h3 class="modal-title">{{'FILL_IN_INFORMATION_ABOUT_EMPLOYEE' | translate}}</h3>
</div>

<div class="modal-body">

    <form name="employeeForm" id="employeeForm" ng-submit="onEmployeeFormSubmit()" role="form"
          class="form-group" novalidate>

        <div class="row">
            <div class="form-group col-md-4" ng-show="showListOfOrganization">
                <label class="control-label">{{'EMPLOYEE_TYPE' | translate }}</label>
            </div>
            <div id="po" class="form-group col-md-8">
                <div ng-show="showListOfOrganizationChosenOne">
                    <select multiple chosen
                            data-placeholder="{{'SELECT_TYPE_OF_ORGANIZATION' | translate}}"
                            ng-model="selectedEmployee"
                            ng-change="choose(selectedEmployee)"
                            required>
                        <option value='provider'> Provider</option>
                        <option value='calibrator'> Calibrator</option>
                    </select>
                </div>


                <div ng-show="showListOfOrganizationChosenTwo">
                    <select multiple chosen
                            data-placeholder="{{'SELECT_TYPE_OF_ORGANIZATION' | translate}}"
                            ng-model="selectedEmployee"
                            ng-change="choose(selectedEmployee)"
                            required>
                        <option value='calibrator'> Calibrator</option>
                        <option value='verificator'> Verificator</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">{{'GENERAL_INFORMATION' | translate }}</div>
            <div class="panel-body">

                <div class="row form-group" ng-show="showListOfSubdivisions" show-errors>
                    <label class="control-label col-md-4">{{'SUBDIVISION' | translate}}*</label>
                    <div class="col-md-8">
                        <ui-select class="form-control" type="text" theme="select2"
                                   ng-model="selectedValues.subdivision"
                                   name="subdivision" id="subdivision" required>
                            <ui-select-match placeholder="{{'SELECT_SUBDIVISION' | translate}}">
                                {{$select.selected}}
                            </ui-select-match>
                            <ui-select-choices repeat="subdivision in subdivisions | filter: $select.search">
                                <span ng-bind-html="subdivision"></span>
                            </ui-select-choices>
                        </ui-select>

                        <p class="help-block" ng-if="employeeForm.subdivision.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>
                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'LAST_NAME' |translate }}*</label>
                    <div class="col-md-8">
                        <input id="lastName" name="lastName" class="form-control"
                               type="text" ng-model="employeeFormData.lastName"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="right"
                               ng-change="checkFirstName('lastName')"
                               ng-pattern="FIRST_LAST_NAME_REGEX" required>

                        <p class="help-block" ng-if="employeeForm.lastName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="employeeForm.lastName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_LAST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>
                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'FIRST_NAME' |translate }}*</label>
                    <div class="col-md-8" ng-class="firstNameValidation.css">
                        <input type="text" ng-model="employeeFormData.firstName"
                               ng-change="checkFirstName('firstName')"
                               popover="{{'ALPHABETIC_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="right"
                               id="firstName" ng-pattern="FIRST_LAST_NAME_REGEX"
                               name="firstName" class="form-control" required>

                        <p class="help-block" ng-if="employeeForm.firstName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="employeeForm.firstName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_FIRST_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'MIDDLE_NAME' | translate }}*</label>
                    <div class="col-md-8" ng-class="middleNameValidation.css">
                        <input type="text" ng-model="employeeFormData.middleName"
                               ng-pattern="MIDDLE_NAME_REGEX"
                               ng-change="checkFirstName('middleName')"
                               popover="{{'MIDDLE_NAME_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="right"
                               id="middleName" name="middleName" class="form-control" required>

                        <p class="help-block" ng-if="employeeForm.middleName.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="employeeForm.middleName.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_MIDDLE_NAME_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'PHONE_NUMBER_TWO' | translate }}</label>
                    <div class="col-md-8" ng-class="phoneNumberValidation.css">
                        <div class="input-group">
                            <div class="input-group-addon" id="basic-addon-code">+380</div>
                            <input type="text" ng-model="employeeFormData.phone"
                                   ng-pattern="PHONE_REGEX" placeholder="XXXXXXXXX"
                                   id="phone" name="phone" class="form-control">
                            <span class="input-group-addon">{{'SECOND_PHONE' |translate}}</span>
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="checkboxModel">
                            </span>
                        </div>
                        <p class="help-block" ng-if="employeeForm.phone.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_PHONE_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>

                <div class="row form-group" ng-show="checkboxModel" show-errors>
                    <label class="control-label col-md-4" for="phoneNumberSecond"> {{'SECOND_PHONE' | translate}} </label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-addon" id="basic-addon-code">+380</div>
                            <input id="phoneNumberSecond" name="phoneNumberSecond" class="form-control"
                                   ng-model="employeeFormData.secondPhone"
                                   placeholder="XXXXXXXXX" ng-pattern="PHONE_REGEX_SECOND"
                                   popover="{{'PHONE_NUMBER_INFO' | translate}}"
                                   popover-trigger="focus" popover-placement="right">
                            <span class="form-control-feedback glyphicon  form-horizontal glyphicon glyphicon-ok-sign"
                                  id="okFeedBack" ng-show="checkboxModel"></span>
                            </div>
                    </div>
                    <p class="help-block col-md-8 col-md-offset-2"
                       ng-if="clientForm.phoneNumberSecond.$error.pattern">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'PHONE_NUMBER_ERROR' | translate}}
                    </p>
                </div>

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'EMAIL' | translate }}*</label>
                    <div class="form-group col-md-8" ng-class="emailValidation.css">
                        <input type="text" ng-model="employeeFormData.email"
                               ng-pattern="EMAIL_REGEX"
                               ng-change="checkFirstName('email')"
                               placeholder="example@gmail.com"
                               id="email" name="email" class="form-control" required>

                        <p class="help-block" ng-if="employeeForm.email.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="employeeForm.email.$error.pattern">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'INCORRECT_VALUE_EMAIL_ADD_EMPLOYEE' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">{{'ACCOUNT_INFORMATION' | translate }}</div>
            <div class="panel-body">
                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'LOGIN_TWO' | translate }}*</label>
                    <div class="col-md-8" ng-class="usernameValidation.css">
                        <input type="text" ng-model="employeeFormData.username"
                               ng-change="checkFirstName('login')"
                               popover="{{'USERNAME_INFO' | translate}}"
                               popover-trigger="focus" popover-placement="right"
                               ng-model-options="{debounce: 350}"
                               id="username" name="username" class="form-control" required>

                        <p class="help-block" ng-if="!usernameValidation.isValid">
                            {{usernameValidation.message }}
                        </p>

                        <p class="help-block" ng-if="employeeForm.username.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'PASSWORD_TWO' | translate}}*</label>
                    <div class="form-group col-md-8" ng-class="passwordValidation.css" show-errors>
                        <input type="password" ng-model="employeeFormData.password" ng-change="checkPasswords()"
                               name="password" class="form-control" required>
                        <p class="help-block" ng-if="employeeForm.rePassword.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>
                    </div>
                </div>

                <div class="row form-group" show-errors>
                    <label class="control-label col-md-4">{{'REPEAT_PASSWORD' | translate}}*</label>
                    <div class="form-group col-md-8" ng-class="passwordValidation.css" show-errors>
                        <input type="password" ng-model="employeeFormData.rePassword"
                               ng-change="checkPasswords()" name="rePassword" class="form-control" required>

                        <p class="help-block" ng-if="employeeForm.rePassword.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'REQUIRED' | translate}}
                        </p>

                        <p class="help-block" ng-if="passwordValidation.isValid">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{'PASSWORDS_DID_NOT_MATCH' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-success">
                    {{'ADD' | translate}}
                </button>
                <button type="reset" class="btn btn-warning" ng-click="resetEmployeeForm()">
                    {{'CLEAR_FORM' | translate }}
                </button>
                <button type="button" class="btn btn-danger pull-right"
                        ng-click="closeModal()">{{'CLOSE' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>