<html>
<body>
<span style="font-weight:bold">
			Доброго дня! Для організації $name було змінено пароль адміністратора!
		</span>
<br><br>Дані для входу на сервіси сайту:<br>Логін:$username<br>Пароль:$password<br>
<br>Дякуємо, що користуєтесь нашим сервісом.
</body>
</html>