
<div class="modal-header">
    <h4 class="modal-title">{{'EDIT_VALUES' | translate }}</h4>
</div>

<div class="modal-body">
    <form name="clientForm" class="form-group" id="editMainPhotoForm" novalidate>
        <div id="box" class="form-group col-md-6">
            <div ng-show="imageSize.small" ng-class="{ 'vertical-image-modal-photo': rotateIndex == 90 || rotateIndex == 270}">
                <div class="main-image">
                    <img data-ng-src='{{photo}}' ng-click="zoom()" ng-class="{ 'rotated90': rotateIndex == 90, 'rotated180': rotateIndex == 180,
                    'rotated270': rotateIndex == 270, 'rotated0': rotateIndex == 0}">
                </div>
            </div>
            <div ng-show="!imageSize.small" ng-class="{ 'vertical-image-modal-photo-large': rotateIndex == 90 || rotateIndex == 270}">
                <div class="main-image-large">
                    <img data-ng-src='{{photo}}' ng-click="zoom()" ng-class="{ 'rotated90': rotateIndex == 90, 'rotated180': rotateIndex == 180,
                    'rotated270': rotateIndex == 270, 'rotated0': rotateIndex == 0}">
                </div>
            </div>
        </div>

        <div class="form-group col-md-6" ng-if="photoId == 'testMainPhoto'">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">{{'COUNTER_NUMBER' | translate }}</label>
                </div>

                <div class="form-group col-md-6" show-errors>
                    <input type="text"
                           ng-model="newValues.counterNumber"
                           id="counterNumber"
                           name="counterNumber"
                           class="form-control "
                           required>
                    <p class="help-block" ng-if="clientForm.counterNumber.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">{{'ACCUMULATED_VOLUME' | translate }}</label>
                </div>
                <div class="form-group col-md-6" show-errors>
                    <input type="text" ng-model="newValues.accumulatedVolume"
                           class="form-control "
                           id="accumulatedVolume"
                           name="accumulatedVolume"
                           required>

                    <p class="help-block" ng-if="clientForm.accumulatedVolume.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">{{'STANDART_SIZE_OF_COUNTER' | translate}}</label>
                </div>
                <div class="form-group col-md-6" show-errors>
                    <ui-select ng-model="newValues.counterStandardSize" type="text" theme="select2"
                               name="standardSize"
                               id="standardSize"
                               class="form-control col-md-6"
                               on-select = "eraseCurrentSymbolAndManufacturer();"
                               required>
                        <ui-select-match
                                placeholder="{{'STATUS_SELECT_PLACEHOLDER' | translate}}"
                                allow-clear="false">
                            {{$select.selected | translate}}
                        </ui-select-match>
                        <ui-select-choices repeat="counterStandardSize in standardSizes
                        | unique: 'standardSize'
                        | filter: $select.search">
                            <span ng-bind-html="counterStandardSize | translate "></span>
                        </ui-select-choices>
                    </ui-select>
                    <p class="help-block" ng-if="clientForm.standardSize.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">{{'COUNTER_PURPOSE' | translate}}</label>
                </div>
                <div class="form-group select-dropdown-typewater">
                    <ui-select  ng-model="selectedTypeWater" type="text" theme="select2"
                                name="type"
                                id="type"
                                class="form-group col-md-6"
                                ng-change="changeTypeWater(selectedTypeWater)"
                                on-select = "getAllSymbolsByStandardSizeAndDeviceType(newValues.counterStandardSize, selectedTypeWater.type)">
                        <ui-select-match
                                placeholder="{{'STATUS_SELECT_PLACEHOLDER' | translate}}"
                                allow-clear="false">
                            {{$select.selected.type | translate}}
                        </ui-select-match>
                        <ui-select-choices repeat="typeWater in statusTypeWater | filter: $select.search">
                            <span ng-bind-html="typeWater.type | translate "></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">{{'COUNTER_TYPE' | translate}}</label>
                </div>
                <div class="form-group col-md-6" show-errors>
                    <ui-select ng-model="newValues.counterSymbol" type="text" theme="select2"
                               name="symbol"
                               id="symbol"
                               class="form-control col-md-6"
                               on-select = "getAllManufacturerByStandardSizeAndDeviceTypeAndSymbol(newValues.counterStandardSize, selectedTypeWater.type, newValues.counterSymbol)"
                               required>

                        <!--on-select = "receiveAllManufacturers($item)"-->
                        <ui-select-match
                                placeholder="{{'STATUS_SELECT_PLACEHOLDER' | translate}}"
                                allow-clear="false">
                            {{$select.selected | translate}}
                        </ui-select-match>
                        <ui-select-choices repeat="counterType in symbols
                        | unique: 'symbol' | filter: $select.search">
                            <span ng-bind-html="counterType | translate "></span>
                        </ui-select-choices>
                    </ui-select>
                    <p class="help-block" ng-if="clientForm.symbol.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">{{'MANUFACTURER' | translate}}</label>
                </div>
                <div class="form-group col-md-6" show-errors>
                    <ui-select ng-model="newValues.counterManufacturer" type="text" theme="select2"
                               name="manufacturer"
                               id="manufacturer"
                               class="form-control col-md-6"
                               required>
                        <ui-select-match
                                placeholder="{{'STATUS_SELECT_PLACEHOLDER' | translate}}"
                                allow-clear="false">
                            {{$select.selected.manufacturer | translate}}
                        </ui-select-match>
                        <ui-select-choices repeat="counterManufacture in manufacturers
                        | unique: 'manufacturer'">
                            <span ng-bind-html="counterManufacture.manufacturer | translate "></span>
                        </ui-select-choices>
                    </ui-select>
                    <p class="help-block" ng-if="clientForm.manufacturer.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">{{'YEAR_OF_COUNTER_PRODUCTION' | translate }}</label>
                </div>
                <div class="form-group col-md-6" show-errors>
                    <input type="number"
                           ng-model="newValues.counterYear"
                           class="form-control"
                           id="counterYear"
                           name="counterYear"
                           required>
                    <p class="help-block" ng-if="clientForm.counterYear.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" style="clear: left">
    <button ng-click="cancel()" class="btn btn-info pull-right" type="button">
        {{'CLOSE' | translate }}
    </button>
    <button ng-click="saveOnExit()" ng-show="changed" class="btn btn-info pull-right" type="button">
        {{'SAVE' | translate }}
    </button>
</div>