<head>
    <link href="resources\assets\css\calibrator.css" rel="stylesheet">
</head>

<div class="modal-header">

    <div class="col-md-2">
        <h3>{{'TASK_VERIFICATIONS' | translate }}</h3>
        </div>
    <div class="col-md-3">
        <span translate="NUMBER_OF_VERIFICATIONS_IN_TASK"></span>: {{ resultsCount }}
    </div>
    <div class="col-md-4">
        <span translate="PERFORMER_OF_THE_WORK"></span>: {{ nameOfStationOrTeamModalView }}
    </div>
    <div class="col-md-2">
        <span translate="DATE_OF_TASK"></span>: {{ dateOfTaskModalView }}
    </div>
    <div class="col-md-1">
        <button class="btn btn-danger btn-xs pull-right glyphicon glyphicon-remove"
                    ng-click="closeModal()">
            </button>
        </div>

</div>

<div class="modal-body modal-padding">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table show-filter="false" ng-table="tableParams"
                                       class="table table-bordered table-hover table-condensed">
                                    <tbody>
                                    <tr ng-repeat="verification in $data | orderBy: 'queue' as filtered_result track by  $index">
                                        <td data-title="'PROVIDER_NAME' | translate">
                                            {{ verification.providerName }}
                                        </td>
                                        <td data-title="'DISTRICT' | translate">
                                            {{ verification.district }}
                                        </td>
                                        <td data-title="'STREET' | translate">
                                            {{ verification.street }}
                                        </td>
                                        <td data-title="'BUILDING_SHORT' | translate">
                                            {{ verification.building }}
                                        </td>
                                        <td data-title="'FLAT_SHORT' | translate">
                                            {{ verification.flat }}
                                        </td>
                                        <td data-title="'CLIENT_FULL_NAME' | translate">
                                            {{ verification.clientFullName }}
                                        </td>
                                        <td data-title="'TELEPHONE' | translate">
                                            {{ verification.telephone }}
                                        </td>
                                        <td data-title="'TIME' | translate">
                                            {{ verification.time }}
                                        </td>
                                        <td data-title="'COMMENT' | translate">
                                            {{ verification.notes }}
                                        </td>
                                        <td width="60px">
                                            <input class="form-control input-custom" type="number" ng-model="$index" min="0" max="99"
                                                   ng-blur="inputQueue(verification,$index,$data)">
                                        </td>
                                        <td data-title="'ACTIONS' | translate" class="text-center">
                                            <div class="btn-group-horizontal btn-group-xs">
                                                <button type="button" class="btn btn-warning"
                                                        ng-hide="verification.status == 'TEST_COMPLETED' || verification.status == 'TEST_OK'
                                                         || verification.status == 'TEST_NOK' || verification.status == 'SENT_TO_VERIFICATOR'
                                                         || (verification.status == 'SENT_TO_DISMANTLING_TEAM' && verification.dismantled)"
                                                        ng-click="openCheckGroupVerificationModal(verification.verificationId)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                        ng-hide="verification.status == 'TEST_COMPLETED' || verification.status == 'TEST_OK'
                                                         || verification.status == 'TEST_NOK' || verification.status == 'SENT_TO_VERIFICATOR'
                                                         || (verification.status == 'SENT_TO_DISMANTLING_TEAM' && verification.dismantled)"
                                                        ng-click="removeVerificationFromTask(verification.verificationId)">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                                <button type="button" class="btn btn-default"
                                                        ng-hide="verification.status == 'TEST_COMPLETED' || verification.status == 'TEST_OK'
                                                         || verification.status == 'TEST_NOK' || verification.status == 'SENT_TO_VERIFICATOR'
                                                         || (verification.status == 'SENT_TO_DISMANTLING_TEAM' && verification.dismantled)"
                                                        ng-click="removeVerificationFromTaskAndReject(verification.verificationId)">
                                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-success pull-right"
                                        ng-click="sendNewQueue()"> {{ 'SAVE' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
