<head>
    <link href="resources\assets\css\calibrator.css" rel="stylesheet">
</head>

<div class="modal-header">
    <div class="row">
        <div class="col-lg-2">
            <h3 class="modal-title">{{ 'TASK_VERIFICATIONS' | translate }}</h3>
        </div>
        <div class="col-lg-10">
            <button type="button" class="btn btn-danger pull-right"
                    ng-click="closeModal()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</div>

<div class="modal-body modal-padding">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-8">
                            <span class="pull-right"><span
                                    translate="NUMBER_OF_VERIFICATIONS_IN_TASK"></span>: {{ resultsCount }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table show-filter="false" ng-table="tableParams"
                                       class="table table-bordered table-hover users_table">
                                    <tbody>
                                    <tr ng-repeat="verification in $data | orderBy: 'queue' as filtered_result track by  $index">
                                        <td data-title="'INITIAL_DATE' | translate">
                                            {{ verification.sentToCalibrator }}
                                        </td>
                                        <td data-title="'PROVIDER_NAME' | translate">
                                            {{ verification.providerName }}
                                        </td>
                                        <td data-title="'DISTRICT' | translate">
                                            {{ verification.district }}
                                        </td>
                                        <td data-title="'STREET' | translate">
                                            {{ verification.street }}
                                        </td>
                                        <td data-title="'BUILDING' | translate">
                                            {{ verification.building }}
                                        </td>
                                        <td data-title="'FLAT' | translate">
                                            {{ verification.flat }}
                                        </td>
                                        <td data-title="'CLIENT_FULL_NAME' | translate">
                                            {{ verification.clientFullName }}
                                        </td>
                                        <td data-title="'TELEPHONE' | translate">
                                            {{ verification.telephone }}
                                        </td>
                                        <td data-title="'ENTRANCE' | translate">
                                            {{ verification.entrance }}
                                        </td>
                                        <td data-title="'FLOOR' | translate">
                                            {{ verification.floor }}
                                        </td>
                                        <td data-title="'DESIRED_VERIFICATION_BY_TIME' | translate">
                                            {{ verification.time }}
                                        </td>
                                        <td data-title="'NOTES' | translate">
                                            {{ verification.notes }}
                                        </td>
                                        <td data-title="'QUEUE' | translate">
                                            <input class="form-control" type="number" ng-model="$index" min="0" max="99"
                                                   ng-blur="inputQueue(verification,$index,$data)">
                                        </td>
                                        <td data-title="'ACTIONS' | translate" class="text-center">
                                            <div class="btn-group-vertical">
                                                <button type="button" class="btn btn-warning"
                                                        ng-hide="verification.status == 'TEST_COMPLETED' || verification.status == 'TEST_OK'
                                                         || verification.status == 'TEST_NOK' || verification.status == 'SENT_TO_VERIFICATOR'"
                                                        ng-click="openCheckGroupVerificationModal(verification.verificationId)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                        ng-hide="verification.status == 'TEST_COMPLETED' || verification.status == 'TEST_OK'
                                                         || verification.status == 'TEST_NOK' || verification.status == 'SENT_TO_VERIFICATOR'"
                                                        ng-click="removeVerificationFromTask(verification.verificationId)">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-success pull-right"
                                        ng-click="sendNewQueue()"> {{ 'SAVE' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
